<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<appSettings>
		<add key="db4oFileName" value="~/app_data/data.db4o" />
	</appSettings>

	<system.webServer>
		<modules>
			<add name="Db4oLocalServer" type="Db4objects.Db4o.Web, Db4objects.Db4o.Web.Db4oLocalModule" preCondition="managedHandler"/>
		</modules>
	</system.webServer>

</configuration>